table {
    margin-bottom: 0;
    max-width: 70rem;
    margin: 0 auto 10px auto;
}

tr {
    border-bottom:#767676;
}

.playRecords-container {
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-platform span {
    color: white;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

.xbox-platform span {
    background-color: 	#107C10;
}

.playstation-platform span {
    background-color: 	#006FCD;
}

.pc-platform span {
    background-color: 	#212121;
}

.nintendo-platform span {
    background-color: 	#e4000f;
}

.other-platform span {
    background-color: 	#767676;
}